@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252A; */
}

.logo{
  float: left;
}


li,button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #111;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.6)
}

/* NAV BARS UL LI */

li a, #dropbtn {
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover,.dropdown-content {
  display: block;
}
