@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252A; */
  font-family: 'Montserrat', sans-serif;
}

.logo{
  float: left;
}


li,button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #111;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #083f4d;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.6)
}

/* NAV BARS UL LI */

li a, #dropbtn {
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



h1{
  font-family: Formular bold,sans-serif;
  margin-left: 20px;
}
.subtitle{
  color: var(--subline-text-color);
  margin-left: 20px;
}

.grids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-gap: 120px;
  grid-template-rows: 1fr 1fr ;
  grid-row-gap: 50px;
  margin-left: 20px;
}

/* .cr7,.rashford,.messi,.ramos{
  background: rgb(240, 237, 237);
  justify-content: center;
} */

.pep,.PJANIC{
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 48.84%);
  border-top-right-radius: var(--rounded-corner);
  border-bottom-right-radius: var(--rounded-corner);
  border: var(--teaser-border);
  border-left: none;
  padding: 1rem 1.5rem;
}

img{
  border-radius: 10px;
}

.guardiola,.pjanic{
  margin-left: 20px;
}
